<div class="sidebar sidebar-style-2" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="@Url.Action("Index", "Home")" class="logo">
        <img
          src="~/img/logo_long.svg"
          alt="navbar brand"
          class="navbar-brand"
          height="40"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
        </li>
        <li class="nav-item">
          <a href="@Url.Action("Index", "Home")">
            <i class="fa-house fa-solid"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#sensorData">
            <i class="fas fa-layer-group"></i>
            <p>Sensor Data</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="sensorData">
            <ul class="nav nav-collapse">
              <li>
                <a href="@Url.Action("Sensors", "Tables")">
                  <span class="sub-item">Sensors</span>
                </a>
              </li>
              <li>
                <a href="@Url.Action("Sites", "Tables")">
                  <span class="sub-item">Locations</span>
                </a>
              </li>
              <li>
                <a href="@Url.Action("Measurements", "Tables")">
                  <span class="sub-item">Measurements</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#management">
            <i class="fas fa-layer-group"></i>
            <p>Manage Assets</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="management">
            <ul class="nav nav-collapse">
              <li>
                <a href="@Url.Action("AddSensor", "Management")">
                  <span class="sub-item">Add Sensor</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>