@using FlowGuardMonitoring.WebHost.Extentions
@using FlowGuardMonitoring.WebHost.Resources
@model FlowGuardMonitoring.WebHost.Models.Authentication.ResetPasswordViewModel

@{
    Layout = "_AuthLayout";
    var globalError = this.ViewContext.ModelState.GetFirstGlobalError();
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">@AuthLocals.ResetPasswordTitle</h3>
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrWhiteSpace(globalError))
                    {
                        <span class="d-block text-small alert alert-danger">
                            @globalError
                        </span>
                    }
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />

                        <div class="form-group mt-3">
                            <label for="newPassword">@AuthLocals.NewPasswordLabel</label>
                            <input
                                type="password"
                                class="form-control"
                                id="newPassword"
                                placeholder="@AuthLocals.NewPasswordPlaceholder"
                                asp-for="Password">
                            <span class="text-danger text-small mt-3" asp-validation-for="Password"></span>
                        </div>

                        <div class="form-group mt-3">
                            <label for="confirmPassword">@AuthLocals.ConfirmPassLabel</label>
                            <input
                                type="password"
                                class="form-control"
                                id="confirmPassword"
                                placeholder="@AuthLocals.ConfirmPassPlaceholder"
                                asp-for="ConfirmPassword">
                            <span class="text-danger text-small mt-3" asp-validation-for="ConfirmPassword"></span>
                        </div>

                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-success">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
