@{
    ViewData["Title"] = "Sensors";
    Layout = "_Layout";
    ViewData["ScriptPath"] = "/Tables/Partials/SensorsScript";
}
@model FlowGuardMonitoring.BLL.Models.PaginatedResult<FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel>

<div class="col-md-12">
    <div class="card">
        <div class="card-header row">
            <h4 class="card-title col-md-6">Sensors</h4>
            <div class="col-md-6">
                <a type="button" class="btn btn-primary float-md-end" href="@Url.ActionLink("AddSensor", "Management")">
                    <i class="fas fa-plus"></i>
                    Add Sensor
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    id="table"
                    class="display table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.Name)</th>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.Type)</th>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.InstallationDate)</th>
                        <th>Active</th>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.SiteName)</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.Name)</th>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.Type)</th>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.InstallationDate)</th>
                        <th>Active</th>
                        <th>@nameof(FlowGuardMonitoring.WebHost.Models.Tables.SensorViewModel.SiteName)</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>   
                    </tfoot>
                    <tbody>
                    @foreach (var sensor in Model.Records)
                    {
                        <tr>
                            <td>@sensor.Name</td>
                            <td>@(Enum.GetName(sensor.Type.GetType(), sensor.Type))</td>
                            <td>@sensor.InstallationDate.ToShortDateString()</td>
                            <td>
                                @if (sensor.IsActive)
                                {
                                    <i class="fa-square-check"></i>
                                }
                                else
                                {
                                    <i class="fa-square-xmark"></i>
                                }
                            </td>
                            <td>@sensor.SiteName</td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>